body{
	background-image: url("../images/UBW.png");
	background-size: 1920px 1080px;
}
button{
	margin:0px;
	padding:0px;
}

.servant{
	margin: 0px; 
	width:192px; 
	height:auto; 
	border-bottom:solid black;


}
.card{
	float:left;
	display: block;
	margin:40px;
	border: solid black;
	font-weight: bold;
	font-size:20px;
}

.text{
	float:right;
	display: inline;
	margin:40px;
	border: solid black;
	font-weight: : bold;
	font-size: 20px;
}

.vs{
	float:left;
	text-align:center;
	margin:50px;
	margin-top:180px;
	padding: 20px;
	border: solid black;
	font-weight: bold;
	font-size:30px;
}